@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Roboto+Condensed&display=swap");
}
*{
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color: rgb(255, 107, 211);
}
#siteTitle:hover{
    cursor: pointer;
}
a, p, th, td, h2{
    color: rgb(87, 21, 54);
}
#miscInfo{
    width: 50%;
    height: auto;
    background-color: rgb(255, 67, 199);
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 30vh;
    margin: 1%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#infosClientsContainer{
    background-color: rgb(255, 67, 199);
}
.infosClient{
    display: flex;
}
.infosClient > p, header{
    margin: 1%;
}
table, td {
    border: 1px solid #333;
}